
.advice {
  padding: 125px 0 80px 0;
}

.advice__container {
}

.advice__header {
  margin: 0 0 45px 0;
}

.advice__body {
  margin: 0 -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.advice__column {
  margin: 0 0 30px 0;
  padding: 0 20px;
  flex: 0 1 25%;
}

.advice__item {
}

.item-advice {
  background-color: #FFFFFF;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.item-advice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-advice__link {
  color: inherit;
  display: inline-block;
}

.item-advice__link:hover {
  text-decoration: underline;
}

.item-advice__link:not(:last-child) {
  margin: 0 0 15px 0;
}

.item-advice__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 16px;
  line-height: 150%;
}

.item-advice__text {
  color: #737373;
  line-height: 142%;
}

.item-advice__image {
  display: block;
  padding: 0 0 60% 0;
}

/*--------------------------------*/

@media (max-width: 1040px) {
  .advice__column {
    flex: 0 1 50%;
  }
}

@media (max-width: 993px) {
  .advice {
    padding: 40px 0 80px 0;
  }
}

@media (max-width: 767px) {
  .advice {
    padding: 0 0 40px 0;
  }

  .advice__header {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 630px) {
  .advice__column {
    flex: 0 1 100%;
  }
}
