
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
}

.header__menu {
  margin: 0 0 0 133px;
}

.menu {
  padding: 5px 0;
}

.menu__list {
  flex-wrap: wrap;
  display: flex;
}

.menu__item {
}

.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}

.menu__link {
  color: #737373;
  line-height: calc(24 / 14 * 100%);
  font-weight: 600;
}

.menu__link:hover {
  text-decoration: underline;
}

/*-------------------------------------*/

@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 50px;
  }

  .menu__link {
    color: #545454;
  }
}

@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }

  .menu__link {
    font-size: 18px;
  }

  .header__container {
    min-height: 70px;
  }
}
