
.who {
  padding: 80px 0 130px 0;
  background: #FFFFFF;
}

.who__container {
}

.who__header {
  margin: 0 0 100px 0;
}

.who__body {
  display: flex;
  align-items: flex-start;
}

.who__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0 0 42.25% 0;
}

.who__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.who__content {
  flex: 1 1 auto;
  padding: 20px 0 0 121px;
}

.who__top {
}

.who__top:not(:last-child) {
  margin: 0 0 50px 0;
}

.who__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.who__title:not(:last-child) {
  margin: 0 0 10px 0;
}

.who__text {
  line-height: 142%;
  color: #737373;
}

.who__items {
}

.who__item {
}

.who__item:not(:last-child) {
  margin: 0 0 30px 0;
}

.item-who {
  display: flex;
}

.item-who__icon {
  flex: 0 0 32px;
}

.item-who__body {
  flex: 1 1 auto;
  padding: 0 0 0 20px;
}

.item-who__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-who__title:not(:last-child) {
  margin: 0 0 5px 0;
}

.item-who__text {
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  color: #737373;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 225px;
}

/*--------------------------------------*/

@media (max-width: 1080px) {
  .who__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 950px) {
  .who__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .who {
    padding: 50px 0 50px 0;
  }

  .who__header {
    margin: 0 0 30px 0;
  }

  .who__title {
    font-size: 24px;
  }

  .who__content {
    padding: 0 0 0 0;
  }

  .who__video {
    padding: 0 0 56.25% 0;
  }

  .who__video:not(:last-child) {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 767px) {
  .who {
    padding: 20px 0 50px 0;
  }

  .who__top:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .who__video:not(:last-child) {
    margin: 30px 0 0 0;
  }
}
